.portf-page {
  /*background-image: url("./home-page.jpg");*/
  background: radial-gradient(
    ellipse at bottom,
    #0d1d31 0%,
    #0c0d13 100%
  ) !important;
  font-family: calibri;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.portf-page-content {
  color: #000;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex: 0 1 100%;
}
.portf_page_header {
  font-family: Amatic SC;
  color: #7fff00;
  font-size: 48px;
  font-weight: 800;
  padding: 10px 0px;
  flex: 0 1 40%;
  text-align: center;
}
.graph_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.3;
}
