.home-page {
  background-image: url("./home-page.jpg");
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.home-page-content {
  color: #fff;
  margin: 0px;
  padding: 10px 0px;
}
#particle-js {
  overflow: hidden;
}
.page {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
}

.page-enter-active {
  animation: backInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.page-exit {
  animation: backOutLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}
