nav {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 300;
  width: 200px;
  background-color: #2a2b30;
  overflow: auto;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  z-index: 999;
  border-right: 1px solid #202125;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #202125;
  text-align: left;
}
nav li a {
  display: flex;
  align-items: center;
  line-height: 45px;
  padding-left: 10px;
  position: relative;
  color: #999;
  text-decoration: none;
}

nav li a.active {
  background-color: #04aa6d;
  color: white;
}

nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
nav li a label {
  margin-left: 4px;
}
.profile_pic {
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
}
